{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h1 class="text-center display-4 text-primary"><a href="{% url 'index' %}" style="text-decoration:none">TODO-LIST</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{% url 'search' %}" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search tasks"
                               aria-describedby="button-addon2" name="searchbar">
                        <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i> Search
                        </button>
                    </div>
                </form>
            </div>
        </div>



        {% for task in tasks %}
            <div class="row shadow rounded mb-3 pt-3 mx-1" style="">
                <div class="col-8">
                    <h5><strong>{{ task }}</strong></h5>
                    <p><small>Created: {{ task.created_at }}</small></p>
                </div>
                <div class="col-md-4 col-12 text-md-end text-start mb-3" style="">

                    <a class="btn btn-outline-primary" href="{% url 'update' task.id %}" type="button"><i
                                class="fa-regular fa-pen-to-square"></i></a>

                 {% comment %}   <form action="" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" style="display:inline-block" type="submit"></button>
                    </form>{% endcomment %}

                    <form action="{% url 'delete' task.id %}" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" style="display:inline-block" type="submit"><i
                                class="fa-solid fa-x"></i></button>
                    </form>
                </div>
            </div>




        {% empty %}
            <div class="row">
                <div class="col-12 mb-3">
                    <h3>No items found with your search term, or there is no todo added yet.</h3>
                </div>
            </div>
        {% endfor %}




        <div class="row">
            <div class="col-12">


                <a class="btn btn-success" href="{% url 'add' %}" role="button"><i class="fa-solid fa-plus"></i> Add a
                    new task</a>


            </div>
        </div>
    </div>



{% endblock %}